
.ui-selects{
    

    --margin-size-y: 12px;
    --margin-size-x: 10px;
    margin: 0 0 var(--margin-size-y) var(--margin-size-x);
    max-width: calc(100vw - 10px);
    & > .option-item{
        margin: var(--margin-size-y) var(--margin-size-x) 0 0;
        .ui-btn();
        &[data-key]{
            padding-left: 30px;
            position: relative;
            &:before{
                content: attr(data-key);
                position: absolute;
                left:0;
                top: 0;
                bottom: 0;
                box-shadow: 0 0 0 2px var(--box-shadow-color, #EEE);
                color: currentColor;
                opacity: 0.4;
                padding: 4px;
                border-radius: 4px;
                min-width: .8em;
                margin: auto 8px;
                font-size: 14px;
                line-height: 1;
                height: 14px;
            }
        }
    }
}