.ui-toast{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #222;
    font-size: 1.2em;
    

    &.success{
        background: #32a334;
        color: #FFF;
    }

    &.error{
        background: #a94442;
        color: #FFF;
    }
}