html{
    --ui-head-height: 80px;
    --ui-foot-height: 120px;
    --ui-middle-height: calc( 100dvh - var(--ui-foot-height) - var(--ui-head-height) );
    --app-color: #999;
}
@media (max-width:768px){
    html{
        --ui-head-height: 50px;
        --ui-foot-height: 80px;
    }
}
